/ Analytics code
:javascript
  window._gaq = [['_setAccount','UA-249303-16'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });