-# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
%script{:crossorigin => "anonymous", :integrity => "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", :src => "https://code.jquery.com/jquery-3.4.1.min.js"}
:javascript
  window.jQuery || document.write("<script src='/js/lib/jquery-3.4.1.min.js'>\x3C/script>")

-# Application scripts

%script(type="text/javascript" src="/js/lib/plugins.js")
%script(type="text/javascript" src="/js/application.js")
%script(type="text/javascript" src="/js/lib/mylibs/helper.js")
%script(type="text/javascript" src="/js/location.js"))

/[if (lt IE 9) & (!IEMobile)]
  %script(type="text/javascript" src="/js/lib/mylibs/imgsizer.js")
