#map_canvas
:javascript
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map_canvas'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
        });
    }
%script(src="https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&callback=initMap")
%script(src="/js/maps.js"))
  