$body-title-family: "Big Shoulders Text", "Helvetica Neue", "Arial", sans-serif;
$body-font-family: "Helvetica Neue", "Arial", sans-serif;
$color-flag-blue: #41B6E6; // Chicago Flag Blue
$color-star-red: #E4002B; // Chicago Flag Red
