!!!
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

%head
  %meta(charset="utf-8")

  -# Always force latest IE rendering engine (even in intranet) & Chrome Frame
  -# Remove this if you use the .htaccess
  %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

  %title Chicago Bike Rack Finder
  %meta(name="description" content="Find a bike rack.")
  %meta(name="author" content="Kevin McMahon")
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"/>
  <![endif]-->

  <!-- http://t.co/dKP3o1e -->
  %meta(name="HandheldFriendly" content="True")
  %meta(name="MobileOptimized" content="320")
  %meta(name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0")

  %link(rel="stylesheet" href="/stylesheets/base.css")
  %link(rel="stylesheet" href="/stylesheets/skeleton.css")
  %link(rel="stylesheet" href="/stylesheets/layout.css")  

  <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
  %script(src="/js/css3-mediaqueries.js")
  %script(src="http://use.typekit.com/zgb1tsz.js")
  %script try{Typekit.load();}catch(e){}

  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="/js/libs/selectivizr-min.js"></script>
  <![endif]-->

  -# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
  %script(type="text/javascript" src="/js/libs/modernizr-2.0.6.min.js")

  <!-- For iPhone 4 -->
  %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png")
  <!-- For iPad 1-->
  %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png")
  <!-- For iPhone 3G, iPod Touch and Android -->
  %link(rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png")
  <!-- For Nokia -->
  %link(rel="shortcut icon" href="img/l/apple-touch-icon.png")
  <!-- For everything else -->
  %link(rel="shortcut icon" href="/favicon.ico")

  <!--iOS. Delete if not required -->
  %meta(name="apple-mobile-web-app-capable" content="yes")
  %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  %link(rel="apple-touch-startup-image" href="img/splash.png")

  <!--Microsoft. Delete if not required -->
  %meta(http-equiv="cleartype" content="on")
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  <!--[if lt IE 7 ]><script  src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({    mode:"overlay"})})</script><![endif]-->
  %link(rel="canonical" href="/")

%body
  .container
    =yield

  -# JavaScript at the bottom for fast page loading
  = partial :'partials/javascripts'

  -# Google analytics snippet
  = partial :'partials/analytics'
