.row
  .twelve.columns.offset-by-two
    - p @rack
    %h2.centered=@rack['address']
    .detailmap
      = partial :'partials/mapcanvas' 
    %table
      %tbody
        %tr
          %td Rack ID
          %td=@rack['rack_id']
        %tr
          %td Ward
          %td=@rack['ward']
        %tr
          %td Community Name
          %td=@rack['neighborhood']
.row
  .twelve.columns.offset-by-two
%footer
  = partial :'partials/footer'
