.row
  %h2.centered Closest Bike Racks
  .twelve.columns.offset-by-two
    #map_canvas
    %table
      %tbody
        %tr.blue
          %th.centered Distance (mi)
          %th.centered Address
        - @racks.each do |row|
          %tr
            %td.centered= ("%0.2f" % row[:dist]).to_f
            %td
              %a{ :href=> '/location/'+ row[:id].to_s }
                =row[:address]
.row
  .twelve.columns.offset-by-two
    %footer
      = partial :'partials/footer'