.row
  %h2.centered Closest Bike Racks
  .twelve.columns.offset-by-two
    = partial :'partials/mapcanvas'
    %table
      %tbody
        %tr.blue
          %th.centered Distance (mi)
          %th.centered Address
        - @racks.each do |row|   
          - p row    
          %tr
            %td.centered= row['dist']
            %td
              %a{ :href=> '/location/'+ row['id'].to_s }
                =row['address']
.row
  .twelve.columns.offset-by-two
    %footer
      = partial :'partials/footer'
